/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* COMMON CSS */

:root {
  --font-poppins: "Poppins", sans-serif;
	--font-volkhov: "Volkhov", serif;
	--font-open-sans: "Open Sans", sans-serif;
	--font-medium: 500;
	--font-bold: 600;
  --white: #ffffff;
}

a {
	color: #000;
	text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
	max-width: 1440px;
	width: 100%;
}

img {
	max-width: 100%;
}

.section-intro {
	text-align: center;
}

.section-intro .section-title {
	display: inline-block;
	font-size: 18px;
	margin-bottom: 20px;
}

.section-intro .secondary-heading {
	font-size: 50px;
}

.secondary-heading {
	margin-bottom: 100px;
}

.item-description {
	font-family: var(--font-poppins);
	font-size: 16px;
}

/* HEADER - COMMON */

.header .logo img {
	width: 100%;
}

.header .header-side select {
	border: none;
	background-color: #FFF1DA;
}

.header .nav li,
.header .nav select {
	font-family: ;
	font-size: 17px;
	font-weight: var(--font-medium);
}

.section-title,
.section-top .top-button .btn:after {
	font-family: var(--font-poppins);
}

.section-intro .secondary-heading {
	color: #181E4B;
	font-family: var(--font-volkhov);
  font-weight: var(--font-bold);
}
.section-title {
	color: #5E6282;
	font-weight: var(--font-medium);
}

button:hover {
	cursor: pointer;
}

/* SECTION TOP - COMMON */

/* .container {
	position: relative;
} */

/* .section-top::after {
	content: "";
	position: absolute;
	background: url("./assets/section_top_bg.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
} */

.section-top::before {
	content: "";
	position: absolute;
	background: url("./assets/ellipse.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.section-top .section-title {
  font-weight: 600;
	color: #DF6951;
}

.section-top .section-content .top-link {
	font-family: var(--font-open-sans);
	display: inline-block;
	font-weight: var(--font-medium);
}

.section-top .secondary-heading span:after {
	content: "";
	position: absolute;
	background: url(./assets/assets_01.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.section-top .section-content .top-link {
	color: #fff;
	background-color: rgb(245 156 5);
}

.section-top .top-button .btn {
	position: relative;
	border: none;
	background-color: #DF6951;
}

.section-top .top-button .btn:before {
	content: "";
	position: absolute;
}

.section-top .top-button .btn:after {
	content: "Play Demo";
	position: absolute;
	font-weight: var(--font-medium);
	color: #686D77;
}

/* SECTION SERVICES - COMMON */
.section-services .services-list {
	display: flex;
	justify-content: space-between;
}

/* DESKTOP CSS */

/* HEADER */

.header .logo {
	width: 114px;
}

.wrapper {
	width: 1440px;
	padding: 0 120px;
	margin: 0 auto;
}

.container .header .nav {
	width: calc(100% - 22vw);
	display: flex;
}

.container .nav .nav-list,
.container .nav .header-side,
.container .nav .side-list,
.section-top .top-button {
	display: flex;
}

.container .header {
	padding-top: 50px;
	padding-bottom: 50px;
}

.container .header .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container .header .nav,
.container .nav .header-side,
.container .header-side .side-list,
.section-top .top-button {
	align-items: center;
}

.header .nav .side-language {
	margin-left: 20px;
}

.header .nav-list .list-item {
	padding: 0 30px;
}

.header .header-side li {
	padding: 0 26px;
}

.header .header-side .signup {
	border: 1px solid #000;
	border-radius: 8px;
	padding: 10px 16px;
}

/* SECTION TOP */

.section-top {
	background-image: url(./images/traveler_transparent.png);
	background-size: 784px 764px;
	background-repeat: no-repeat;
	background-position: 588px 0px;
	padding-bottom: 140px;
	padding-top: 110px;
}

/* .section-top::after {
	width: 766px;
	height: 872px;
	right: -60px;
	top: -315px;
	z-index: -1;
	rotate: 4deg;
} */

.section-top .section-title {
	font-size: 20px;
}

.section-top .secondary-heading {
	font-size: 84px;
}

.section-top .secondary-heading span {
	position: relative;
}

.section-top::before {
	width: 478px;
	height: 496px;
	z-index: -4;
	left: 0;
	top: 0;
}

.section-top .secondary-heading span:after {
	bottom: 10px;
	left: -35px;
	width: 385px;
	height: 12px;
}

.section-top .section-content {
	width: 590px;
}

.section-top .section-content .section-title {
	margin-bottom: 43px;
	display: inline-block;
}

.section-top .section-content .secondary-heading {
	margin-bottom: 52px;
}

.section-top .section-content .item-description {
	color: #5E6282;
	line-height: 1.8;
	margin-bottom: 43px;
	width: 456px;
}

.section-top .section-content .top-link {
	font-size: 18px;
	padding: 20px 20px;
	border-radius: 10px;
	margin-right: 44px;
}

.section-top .top-button .btn {
	width: 52px;
	height: 52px;
	border-radius: 80px;
}

.section-top .top-button .btn:after {
	width: 92px;
	top: 50%;
	left: 60px;
	transform: translateY(-50%);
	font-size: 17px;
}

.section-top .top-button .btn:before {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 12px solid #fff;
	top: 50%;
	left: 24px;
	transform: translateY(-50%);
}

/* SECTION SERVICES - COMMON */

.section-services {
	position: relative;
}

.section-services::after {
	content: "";
	position: absolute;
	background: url("./assets/glitter_bg_01.png");
	background-size: 100% 100%;
	top: 0;
	right: 0;
}

.section-services .services-list .tertiary-heading {
	font-family: 'Open Sans';
}

.section-services .services-list .list-item {
	text-align: center;
}

.section-services .services-list .list-item:nth-child(2) {
	position: relative;
	border-radius: 36px;
	background-color: #fff;
	box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, .2);
}

.section-services .services-list .list-item:nth-child(2)::before {
	content: "";
	position: absolute;
	bottom: -50px;
	left: -50px;
	width: 100px;
	height: 100px;
	background-color: #DF6951;
	border-radius: 30px 0;
	z-index: -1;
}

/* SECTION SERVICES */

.section-services {
	padding-bottom: 180px;
}

.section-services::after {
	width: 153px;
	height: 166px;
}

.section-services .services-list .item-picture {
	width: 92px;
	height: 78px;
	margin: 0 auto 34px;
}

.section-services .services-list .tertiary-heading {
	font-size: 20px;
	font-weight: var(--font-medium);
	margin-bottom: 25px;
}

.section-services .item-picture img {
	max-width: 100%;
}

.section-services .services-list .list-item {
	width: 266px;
	height: auto;
	padding: 50px;
}

/* SECTION-DESTINATIONS - COMMON CSS */



/* SECTION-DESTINATIONS - DESKTOP */

.section-destinations {
	margin-bottom: 192px;
}

.section-destinations .destinations-list,
.section-destinations .destinations-list .destinations-description {
	display: flex;
}

.section-destinations .destinations-list {
	justify-content: space-around;
}

.section-destinations .destinations-list .destinations-description {
	justify-content: space-between;
	margin-bottom: 26px;
}

.section-destinations .destinations-list .list-item {
	position: relative;
	width: 314px;
	height: 457px;
	border-radius: 24px;
	box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, .2);
}

.section-destinations .destinations-list .list-item:nth-child(1) {
	background: url("./images/destination_img_01.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.section-destinations .destinations-list .list-item:nth-child(2) {
	background: url("./images/destination_img_02.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.section-destinations .destinations-list .list-item:nth-child(3) {
	position: relative;
	background: url("./images/destination_img_03.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.section-destinations .destinations-list .list-item:nth-child(3)::after {
	content: "";
	position: absolute;
	background: url(./assets/destinations_deco.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 96px;
	height: 252px;
	bottom: 55px;
	right: -64px;
	z-index: -1;
}

.section-destinations .list-item .item-description {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 315px;
	height: 130px;
	background: #fff;
	padding: 32px 20px 44px;
}

.section-destinations .destinations-list .destinations-duration {
	position: relative;
	padding-left: 30px;
}

.section-destinations .destinations-list .destinations-duration::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: url(./assets/location.png) no-repeat;
	width: 20px;
	height: 20px;
	background-size: 100% 100%;
}

/* SECTION-BOOK - COMMON */

.section-book .book-list .list-item {
	color: #5E6282;
}

/* SECTION-BOOK - DESKTOP */

.section-book {
	margin-bottom: 216px;
}

.section-book .wrapper {
	display: flex;
	justify-content: space-around;
}

.section-book .section-intro .section-title {
	display: block;
}

.section-book .section-intro .section-title,
.section-book .section-intro .secondary-heading {
	text-align: left;
}

.section-book .section-content {
	width: 500px;
}

.section-book .book-picture {
	position: relative;
}

.section-book .book-picture::before {
	content: "";
	position: absolute;
	background: url("./images/book_bg.png");
	top: 110px;
	right: -210px;
	width: 485px;
	height: 400px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.section-book .book-picture::after {
	content: "";
	position: absolute;
	background: url("./assets/blue_glitters.png");
	top: -20px;
	right: -240px;
	width: 354px;
	height: 367px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	z-index: -1;
}

.section-book .book-list .tertiary-heading {
	font-size: 16px;
	font-weight: var(--font-bold);
	font-family: var(--font-poppins);
}

.section-book .book-list .tertiary-heading,
.section-book .book-list .item-description {
	line-height: 1.4;
}

.section-book .book-list .list-item {
	padding-left: 70px;
}

.section-book .book-list .list-item:not(:last-child) {
	margin-bottom: 54px;
}

.section-book .book-list .list-item:nth-child(1),
.section-book .book-list .list-item:nth-child(2),
.section-book .book-list .list-item:nth-child(3) {
	position: relative;
}

.section-book .book-list .list-item:nth-child(1):before {
	content: "";
	position: absolute;
	background: url("./assets/book_icon_01.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	top: 0;
	left: 0;
	width: 47px;
	height: 48px;
}

.section-book .book-list .list-item:nth-child(2):before {
	content: "";
	position: absolute;
	background: url("./assets/book_icon_02.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	top: 0;
	left: 0;
	width: 47px;
	height: 48px;
}

.section-book .book-list .list-item:nth-child(3):before {
	content: "";
	position: absolute;
	background: url("./assets/book_icon_03.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	top: 0;
	left: 0;
	width: 47px;
	height: 48px;
}

/* SECTION-TESTIMONIALS - COMMON */



/* SECTION-TESTIMONIALS - DESKTOP */

.section-testimonials .section-intro {
	display: flex;
	justify-content: space-between;
}

.section-testimonials .section-intro .testimonials-pagination {
	width: 410px;
}

.section-testimonials .testimonials-pagination .secondary-heading {
	text-align: left;
}

.section-testimonials .section-intro .testimonials-slides {
	width: 672px;
}

.section-testimonials .testimonials-slides .slides-picture {
	width: 589px;
	height: 356px;
}

.section-testimonials .testimonials-sites {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.section-testimonials .testimonials-sites .site-item:nth-child(1) {
	width: 119px;
	height: 37px;
}

.section-testimonials .testimonials-sites .site-item:nth-child(2) {
	width: 126px;
	height: 35px;
}

.section-testimonials .testimonials-sites .site-item:nth-child(3) {
	width: 162px;
	height: 46px;
}

.section-testimonials .testimonials-sites .site-item:nth-child(4) {
	width: 162px;
	height: 32px;
}

.section-testimonials .testimonials-sites .site-item:nth-child(5) {
	width: 94px;
	height: 21px;
}
